html,
body {
    font-family: "Times New Roman", Times, serif;
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

/****** HEADER ******/
header {
    height: 8vh;
    position: relative;
    font-style: oblique;
    background: #232323;
}

header h2 {
    text-shadow: -2px -2px white, 1px 1px #333;
    text-align: center;
    font-size: 1.5em;
    line-height: 8vh;
    margin: 0;
    padding: 0 3% 0 3%;
}

/****** NAV ******/
.multiselect {
    padding: 0;
}

#selectBox select {
    border: none;
    background: rgb(246,246,246);
    -webkit-box-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3), inset 0 0 7px 0 rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3), inset 0 0 7px 0 rgba(0, 0, 0, 0.5);
    box-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3), inset 0 0 7px 0 rgba(0, 0, 0, 0.5);
    font-size: 1.2em;
    padding-left: 3%;
    height: 7vh;
    width: 100%;
    /*position: relative;*/
    font-weight: 400;
}

option {
    display: none;
}

/*#selectBox::after {*/
    /*height: 100%;*/
    /*width: 100%;*/
    /*content: "";*/
    /*position: absolute;*/
    /*top: 0;*/
/*}*/

#checkboxes {
    position: absolute;
    /*border: 1px #dadada solid;*/
    opacity: 1;
    background: rgb(246,246,246);
    border-radius: 0 0 10px 10px;
    width: 100%;
    -webkit-box-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3), inset 0 0 7px 0 rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3), inset 0 0 7px 0 rgba(0, 0, 0, 0.5);
    box-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3), inset 0 0 7px 0 rgba(0, 0, 0, 0.5);
    z-index: 1;
}

#checkboxes label {
    display: block;
}

#checkboxes input {
    margin: 5px;
}

/****** MAP ******/
#map-holder {
    background: #f5f5f5;
    height: 72vh;
    position: relative;
}

#map {
    height: 100%;
    overflow: hidden;
}

/****** DRAWER ******/
#drawer {
    will-change: transform, scroll-position, contents;
    width: 100%;
    height: 38vh;
    position: absolute;
    background: #dcdcdc;
    bottom: -25vh;
    transition: transform 0.3s ease;
    overflow: auto;
    display: block;
}

#drawer.open {
    -webkit-transform: translate(0, -30vh);
    -ms-transform: translate(0, -30vh);
    transform: translate(0, -30vh);
    transition: transform 0.3s ease;
}

#drawer-header {
    /* Make text unselectable to prevent browser's default behaviors when tapping drawer on mobile */
    /* Experimental technology */
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;
    margin: 0;
    font-size: 1.5em;
    text-shadow: 1px 1px #ffffff;

    /* IE proprietary filter that emulates CSS3 text-shadow property for IE9 and older */
    /*filter: progid:DXImageTransform.Microsoft.Shadow(color=#0000FF,direction=45);*/

    background: linear-gradient(to bottom, rgba(200,200,200,1) 0%,rgba(191,191,191,1) 100%);
    border: 1px solid rgba( 0, 0, 0, 0.2 );
    border-radius: 5px 5px 0 0;
    font-weight: 600;
    height: 8vh;
    text-align: center;
    line-height: 7vh;
}

#venue-details img {
    /*max-width: 100%;*/
    /*max-height: 100%;*/
    /*position: absolute;*/
    /*top: 0;*/
    /*left: 0;*/
    width: 100%;
    height: 100%;
    object-position: 50% 50%;
    object-fit: cover;
}

.venue-image {
    color: rgba(0, 0, 0, 0.001);
    filter:alpha(opacity=100); /* For IE8 and earlier */
    position: relative;
    height: 80px;
    padding: 0;
    -webkit-box-shadow: 1px 1px 0 #e3e3e3;
    -moz-box-shadow: 1px 1px 0 #e3e3e3;
    box-shadow: 1px 1px 0 #e3e3e3;
    background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAzMiAzMiIgd2lkdGg9IjMyIiBoZWlnaHQ9IjMyIiBmaWxsPSJ3aGl0ZSI+CiAgPHBhdGggZD0iTTAgNCBMMCAyOCBMMzIgMjggTDMyIDQgeiBNNCAyNCBMMTAgMTAgTDE1IDE4IEwxOCAxNCBMMjQgMjR6IE0yNSA3IEE0IDQgMCAwIDEgMjUgMTUgQTQgNCAwIDAgMSAyNSA3Ij48L3BhdGg+Cjwvc3ZnPg==") no-repeat center hsl(0, 0%, 80%);
}

#venue-details {
    overflow-y: scroll;
    height: 30vh;
    padding: 0;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    margin: 0;
}

.drawer-content {
    padding: 2% 2% 2% 2%;
}

.active-listing {
    background-color: #ebebd9;
}

.active-listing:focus {
    outline: none;
}

.venue-text {
    text-shadow: 1px 1px 0 #fff;
    height: 80px;
    padding: 1% 0 3% 2%;
    font-size: 100%;
}

.venue-text h3 {
    font-weight: 600;
    font-size: 1.2em;
    color: #2a2a2a;
    margin: 0;
    margin-bottom: -4px;
    padding-bottom: 1%;
}

.venue-text p {
    font-weight: 300;
    margin-bottom: -4px;
    padding-bottom: 1%;
}

/* use sprite image for background. Initially is set to show grey stars */
.stars, .stars > span {
    display: inline-block;
    background: url(../img/stars.png) 0 -16px repeat-x;
    width: 80px;
    height: 16px;
}

/* set backgournd image to make yellow stars visible */
.stars > span {
    /*max-width:80px;*/
    background-position: 0 0;
}

/****** FOOTER ******/
footer {
    position: absolute;
    bottom: 0;
    background: #232323;
    text-align: center;
    color: #ccc;
    line-height: 5vh;
    width: 100%;
    font-size: 14px;
}

footer a, footer a:visited, footer a:hover {
    color: #2D5BE3;
    text-decoration: none;
}

footer p {
    margin: 0;
}

/****** ERROR *****/
#hidden-msg {
    display: none;
    position: absolute;
    font-size: 1.2em;
    text-align: center;
    height: auto;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 25px;
    background-color: white;
    top: 15vh;
    left: 15%;
    width: 70%;
    z-index: 5;
}

#close-span {
    position: absolute;
    padding: 8px;
    top: 0;
    right: 0;
    vertical-align: middle;
    cursor: pointer;
}

/****** MEDIA QUERIES ******/
@media only screen and (min-width: 768px) {
    nav {
        position: absolute;
        width: 40vw;
        /*border: 1px solid rgba( 0, 0, 0, 0.2 );*/
    }

    #map-holder {
        height: 87vh;
        width: 60vw;
        float: right;
    }

    #drawer-header {
        display: none;
        border-radius: 0;
        border: 0;
        border-bottom: 1px solid rgba( 0, 0, 0, 0.2 );
    }

    #drawer, #drawer.open {
        position: absolute;
        top: 15vh;
        height: 80vh;
        width: 40vw;
        border: 1px solid rgba( 0, 0, 0, 0.2 );
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
        transform: none;
        overflow-y: hidden;
    }

    #venue-details {
        height: 80vh;
    }
}

@media only screen and (min-width: 992px) {
    nav {
        width: 35vw;
    }

    #map-holder {
        width: 65vw;
    }

    #drawer, #drawer.open {
        width: 35vw;
    }

    .venue-image, .venue-text {
        height: 100px;
    }
}